{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ging Wallet</title>
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/validation.js' %}"></script> 
  </head>  
  
  <body class="size-1140">
  	<!-- PREMIUM FEATURES BUTTON -->
  	<a target="_blank" class="hide-s" href="../template/prospera-premium-responsive-business-template/" style="position:fixed;top:120px;right:-14px;z-index:10;"></a>
    <!-- HEADER -->
    <header role="banner">    
      <!-- Top Bar -->
      <!--<div class="top-bar background-white">
        <div class="line">
          <div class="s-12 m-6 l-6">
            <div class="top-bar-contact">
              <p class="text-size-12">Contact Us: 0800 200 200 | <a class="text-orange-hover" href="mailto:contact@sampledomain.com">contact@sampledomain.com</a></p>
            </div>
          </div>
          <div class="s-12 m-6 l-6">
            <div class="right">
              <ul class="top-bar-social right">
                <li><a href="/"><i class="icon-facebook_circle text-orange-hover"></i></a></li>
                <li><a href="/"><i class="icon-twitter_circle text-orange-hover"></i></a> </li>
                <li><a href="/"><i class="icon-google_plus_circle text-orange-hover"></i></a></li>
                <li><a href="/"><i class="icon-instagram_circle text-orange-hover"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>-->
      
      <!-- Top Navigation -->
      <nav class="background-white background-primary-hightlight">
        <div class="line">
          <div class="s-12 l-2">
            <a href="#" class="logo"><img src="{% static 'img/logo-free.png' %}" alt=""></a>
          </div>
          <div class="top-nav s-12 l-10">
            <p class="nav-text"></p>
            <ul class="right chevron">
              <li><a href="/">Home</a></li>
              <!--<li><a href="#">About</a></li>-->

              {% if user.is_authenticated %}
              <li><a href="#">Hello, {{user.username}}</a></li>
              <!--<li><a href="#">Send Bitcoin</a></li>
              <li><a href="#">Receive Bitcoin</a></li>-->
              <li><a href="logout">Logout</a></li>
              {% else %}
              <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">
      <!-- Main Carousel -->
      {% if user.is_authenticated %}

      <!--<section class="section background-white">-->
          <div class="line">
            <h2 class="text-thin headline text-center text-s-size-30 margin-bottom-50">Your Bitcoin Address: <span style="color: #FF8C00"><b>{{user.first_name}}</b></span></h2>
            <h4 align="center">
              <!--<b>{{user.first_name}}</b>-->
              
              {{detail.balance_usd}} USD
              
            </h4>
            </div>
            <div align="center">
              <style>
                .button {
                  border-radius: 25px;
                  background-color: #4CAF50; /* Green */
                  border: none;
                  color: white;
                  padding: 16px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  margin: 4px 2px;
                  transition-duration: 0.4s;
                  cursor: pointer;
                }
                
                .button1 {
                  border-radius: 25px;
                  background-color: #FF8C00; 
                  color: black; 
                  border: 2px solid #FF8C00;
                }
                
                .button1:hover {
                  background-color: white;
                  color: #FF8C00;
                }
            </style>

            <a href="#"><button class="button button1" onclick="sendFunction()">Send Btcoin</button></a>
            <a href="#"><button class="button button1" onclick="receiveFunction()">Receive Btcoin</button></a>

            </div><br>
      <!--</section>-->    

      <div align="center" id="sendbitcoin">
        <!--<h1><b>Send Bitcoin</b></h1><br>-->
        <h1>This Feature is Coming Soon</h1>
        <p style="max-width: 400px; min-width: 100px;">
          <b>
           For now, you can have access to your funds by exporting it into another wallet provider that has the 
           functionality to send bitcoin .To do that, Click the button below to get your private key, so that you 
           can export it to another wallet provider
           </b>
        </p>
        <button onclick="getpk()" style="border-radius: 20px;">
          Get Private Key
        </button><br>
        <div id="pk" >
          <h3><b>Your Private Key Is:</b></h3>
          <b>{{user.last_name}}</b>
        </div>
        
      </div>

      <div align="center" id="receivebitcoin">
        <h1>Copy Your Address Below To Receive Bitcoin</h1>

        <style>
          .tooltip {
            position: relative;
            display: inline-block;
          }
          
          .tooltip .tooltiptext {
            visibility: hidden;
            width: 300px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
          }
          
          .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
          
          .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
          }
          </style>
          
          
          
          <input type="text" size="50" style="border-radius: 20px;" value="{{user.first_name}}" id="myInput" readonly>
          
          <div class="tooltip">
          <button onclick="myFunction()" onmouseout="outFunc()" style="border-radius: 20px;">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
            Copy Address
          </button>

          
          </div><br><br>

          <h2>Or Scan Your QR Code Below</h2>
          
          <div>
            <img align="center" src="https://bitref.com/qrcode.php?data={{user.first_name}}">
          </div>
          
          <script>
          function myFunction() {
            var copyText = document.getElementById("myInput");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copied: " + copyText.value;
          }
          
          function outFunc() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy to clipboard";
          }
          </script>
      </div><!--<br><br><br><br><br><br><br>-->

      <script>
        document.getElementById("receivebitcoin").style.display = "none";
        document.getElementById("sendbitcoin").style.display = "none";
        document.getElementById("pk").style.display = "none";
        function receiveFunction() {
          var x = document.getElementById("receivebitcoin");
          var y = document.getElementById("details");
          var z = document.getElementById("sendbitcoin")
          var pk = document.getElementById("pk")
          if (x.style.display === "none") {
            z.style.display = "none";
            y.style.display = "none";
            x.style.display = "block";
          } else {
            z.style.display = "none";
            x.style.display = "none";
            y.style.display = "block";
          }
        }
        function sendFunction() {
          var x = document.getElementById("receivebitcoin");
          var y = document.getElementById("details");
          var z = document.getElementById("sendbitcoin")
          if (z.style.display === "none") {
            z.style.display = "block";
            y.style.display = "none";
            x.style.display = "none";
          } else {
            z.style.display = "none";
            x.style.display = "none";
            y.style.display = "block";
          }
        }
        function getpk(){
          pk.style.display = "block";
        }
      </script>

      

      <section id="details">
      <style>
          table {
              width:100%;
            }
            table, th, td {
              border: 1px solid rgb(90, 86, 86);
              border-collapse: collapse;
            }
            th, td {
              padding: 15px;
              text-align: left;
            }
            table#t01 tr:nth-child(even) {
              background-color: #eee;
            }
            table#t01 tr:nth-child(odd) {
             background-color: #fff;
            }
            table#t01 th {
              background-color: #FF8C00;
              color: white;
            }
      </style>
      <br>
      <h3 align="center"> Click Submit Below To See Details of <b>{{user.first_name}}</b></h3>
      <!--<h3 align="center">Final Balance:       {{info1.balance}}</h3>-->
      
      <form action="/" method="POST">
        {% csrf_token %}

        <style>
            .button {
              border-radius: 25px;
              background-color: #4CAF50; /* Green */
              border: none;
              color: white;
              padding: 16px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              transition-duration: 0.4s;
              cursor: pointer;
            }
            
            .button1 {
              border-radius: 25px;
              background-color: #FF8C00; 
              color: black; 
              border: 2px solid #FF8C00;
            }
            
            .button1:hover {
              background-color: white;
              color: #FF8C00;
            }
        </style>

        <input type="hidden" name="addr" value="{{user.first_name}}"><br>
        <h6 align="center"><input type="submit" value="Submit" class="button button1"></h6>
      </form>

      <table id="t01">
          <tr>
            <th> </th>
            <th>BTC</th> 
            <th>USD</th>
          </tr>
          <tr>
            <td>Transactions</td>
            <td><b>{{detail.transactions}}</b></td>
            <td><b>   </b></td>
          </tr>
          <tr>
            <td>Total Received</td>
            <td><b>{{detail.total_received}}</b></td>
            <td><b>{{detail.total_received_usd}} USD</b></td>
          </tr>
          <tr>
            <td>Total Sent</td>
            <td><b>{{detail.total_sent}}</b></td>
            <td><b>{{detail.total_sent_usd}} USD</b></td>
          </tr>
          <tr>
            <td>Final Balance</td>
            <td><b>{{detail.balance}}</b></td>
            <td><b>{{detail.balance_usd}} USD</b></td>
          </tr>
        </table>
      </section>

      

      {% else %}
      <section class="section background-dark">
        <div class="line">
          <div class="carousel-fade-transition owl-carousel carousel-main carousel-nav-white carousel-wide-arrows">
            <div class="item">
              <div class="s-12 center">
                <img src="{% static 'img/01-boxed.jpg' %}" alt="">
                <div class="carousel-content">
                  <div class="padding-2x">
                    <div class="s-12 m-12 l-8">
                      <p class="text-white text-s-size-20 text-m-size-40 text-l-size-60 margin-bottom-40 text-thin text-line-height-1"><b>Get Your Bitcoin Wallet In Seconds</b></p>
                      <p class="text-white text-size-16 margin-bottom-40"></p>  
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="s-12 center">
                <img src="{% static 'img/02-boxed.jpg' %}" alt="">
                <div class="carousel-content">
                  <div class="padding-2x">
                    <div class="s-12 m-12 l-8">
                      <p class="text-white text-s-size-20 text-m-size-40 text-l-size-60 margin-bottom-40 text-thin text-line-height-1"><b>Control Your Funds At Your Finger Tips</b></p>
                      <p class="text-white text-size-16 margin-bottom-30"></p>    
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </section>
      

      <!-- Section 1 -->
      <!--<section class="section background-white"> 
        <div class="line">
          <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="img/img-01.jpg" alt="">
              <h2 class="text-thin">Clean Design</h2>
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p> 
              <a class="text-more-info text-primary-hover" href="/">Read more</a>                
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="img/img-02.jpg" alt="">
              <h2 class="text-thin">Valid code</h2>
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p> 
              <a class="text-more-info text-primary-hover" href="/">Read more</a>                
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="img/img-03.jpg" alt="">
              <h2 class="text-thin">Totally free</h2>
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p> 
              <a class="text-more-info text-primary-hover" href="/">Read more</a>                
            </div>
          </div>
        </div>
      </section>-->
      
      <!-- Section 2 -->
      <!--
      <section class="section background-primary text-center">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30">We are Web Design Heroes</h2>
            <p class="text-size-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
          </div>
        </div>  
      </section>-->
      
      <!-- Section 3 -->
      <!--
      <section class="section background-white">
        <div class="full-width text-center">
          <img class="center margin-bottom-30" style="margin-top: -210px;" src="img/bio.png" alt="">
          <div class="line">
            <h2 class="headline text-thin text-s-size-30">Fully <span class="text-primary">Responsive</span> HTML5 Template</h2>
            <p class="text-size-20 text-s-size-16 text-thin">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
            <i class="icon-more_node_links icon2x text-primary margin-top-bottom-10"></i>
            <p class="text-size-20 text-s-size-16 text-thin text-primary">Try resize your browser window</p>
          </div>  
        </div>  
      </section>
      <hr class="break margin-top-bottom-0"> -->
      
      <!-- Section 4 --> 
      <section class="section background-white">
        <div class="line">
          <h2 class="text-thin headline text-center text-s-size-30 margin-bottom-50">Create An Account <span style="color: #FF8C00">Now</span></h2>
          <h4 align="center">
          	<b>And get a Bitcoin wallet for free</b>
          </h4>
          <!--<div class="carousel-default owl-carousel carousel-wide-arrows">
            <div class="item">
              <div class="margin"> 
                <div class="s-12 m-12 l-6">
                  <div class="image-border-radius margin-m-bottom">
                    <div class="margin">
                      <div class="s-12 m-12 l-4 margin-m-bottom">
                        <a class="image-hover-zoom" href="/"><img src="img/blog-05.jpg" alt=""></a>
                      </div>
                      <div class="s-12 m-12 l-8 margin-m-bottom">
                        <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        <a class="text-more-info text-primary-hover" href="/">Read more</a>
                      </div>
                    </div>  
                  </div>
                </div>
                <div class="s-12 m-12 l-6">
                  <div class="image-border-radius">
                    <div class="margin">
                      <div class="s-12 m-12 l-4 margin-m-bottom">
                        <a class="image-hover-zoom" href="/"><img src="img/blog-03.jpg" alt=""></a>
                      </div>
                      <div class="s-12 m-12 l-8">
                        <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        <a class="text-more-info text-primary-hover" href="/">Read more</a>
                      </div>
                    </div>  
                  </div>
                </div> 
              </div>
            </div>
            <div class="item"> 
              <div class="margin"> 
                <div class="s-12 m-12 l-6">
                  <div class="image-border-radius margin-m-bottom">
                    <div class="margin">
                      <div class="s-12 m-12 l-4 margin-m-bottom">
                        <a class="image-hover-zoom" href="/"><img src="img/blog-04.jpg" alt=""></a>
                      </div>
                      <div class="s-12 m-12 l-8 margin-m-bottom">
                        <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        <a class="text-more-info text-primary-hover" href="/">Read more</a>
                      </div>
                    </div>  
                  </div>
                </div>
                <div class="s-12 m-12 l-6">
                  <div class="image-border-radius">
                    <div class="margin">
                      <div class="s-12 m-12 l-4 margin-m-bottom">
                        <a class="image-hover-zoom" href="/"><img src="img/blog-02.jpg" alt=""></a>
                      </div>
                      <div class="s-12 m-12 l-8">
                        <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        <a class="text-more-info text-primary-hover" href="/">Read more</a>
                      </div>
                    </div>  
                  </div>
                </div> 
              </div>
            </div>
            <div class="item">
              <div class="margin"> 
                <div class="s-12 m-12 l-6">
                  <div class="image-border-radius margin-m-bottom">
                    <div class="margin">
                      <div class="s-12 m-12 l-4 margin-m-bottom">
                        <a class="image-hover-zoom" href="/"><img src="img/blog-01.jpg" alt=""></a>
                      </div>
                      <div class="s-12 m-12 l-8 margin-m-bottom">
                        <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        <a class="text-more-info text-primary-hover" href="/">Read more</a>
                      </div>
                    </div>  
                  </div>
                </div>
                <div class="s-12 m-12 l-6">
                  <div class="image-border-radius">
                    <div class="margin">
                      <div class="s-12 m-12 l-4 margin-m-bottom">
                        <a class="image-hover-zoom" href="/"><img src="img/blog-06.jpg" alt=""></a>
                      </div>
                      <div class="s-12 m-12 l-8">
                        <h3><a class="text-dark text-primary-hover" href="/">Lorem Ipsum Dolor sit Amet</a></h3>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                        <a class="text-more-info text-primary-hover" href="/">Read more</a>
                      </div>
                    </div>  
                  </div>
                </div> 
              </div>
            </div>
          </div>-->
        </div>    
      </section>
      {% endif %}
    </main>
    
    <!-- FOOTER -->
    <footer>
      <!-- Social --><!--
      <div class="background-primary padding text-center">
      	<h1 align="center">
      		<b style="font-size: 50px">Ging Wallet</b>
      	</h1>
        <a href="/"><i class="icon-facebook_circle icon2x text-white"></i></a> 
        <a href="/"><i class="icon-twitter_circle icon2x text-white"></i></a>
        <a href="/"><i class="icon-google_plus_circle icon2x text-white"></i></a>
        <a href="/"><i class="icon-instagram_circle icon2x text-white"></i></a>                                                                        
      </div>-->
      
      <!-- Main Footer -->
      
      <!--
      	<section class="section background-dark">
        <div class="line">
          <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom-2x">
              <h4 class="text-uppercase text-strong">Our Philosophy</h4>
              <p class="text-size-20"><em>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt."</em><p>
                            
              <div class="line">
                <h4 class="text-uppercase text-strong margin-top-30">About Our Company</h4>
                <div class="margin">
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <a class="image-hover-zoom" href="/"><img src="img/blog-04.jpg" alt=""></a>
                  </div>
                  <div class="s-12 m-12 l-8 margin-m-bottom">
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                    <a class="text-more-info text-primary-hover" href="/">Read more</a>
                  </div>
                </div>
              </div>
            </div>
            


            <div class="s-12 m-12 l-4 margin-m-bottom-2x">
              <h4 class="text-uppercase text-strong">Contact Us</h4>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-placepin text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11 margin-bottom-10">
                  <p><b>Adress:</b> Responsive Street 7, London, UK</p>
                </div>
              </div>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-mail text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11 margin-bottom-10">
                  <p><a href="/" class="text-primary-hover"><b>E-mail:</b> contact@sampledomain.com</a></p>
                </div>
              </div>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-smartphone text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11 margin-bottom-10">
                  <p><b>Phone:</b> 0700 000 987</p>
                </div>
              </div>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-twitter text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11 margin-bottom-10">
                  <p><a href="/" class="text-primary-hover"><b>Twitter</b></a></p>
                </div>
              </div>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-facebook text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11">
                  <p><a href="/" class="text-primary-hover"><b>Facebook</b></a></p>
                </div>
              </div>
            </div>
            


            <div class="s-12 m-12 l-4">
              <h4 class="text-uppercase text-strong">Leave a Message</h4>
              <form class="customform text-white">
                <div class="line">
                  <div class="margin">
                    <div class="s-12 m-12 l-6">
                      <input name="email" class="required email border-radius" placeholder="Your e-mail" title="Your e-mail" type="text" />
                    </div>
                    <div class="s-12 m-12 l-6">
                      <input name="name" class="name border-radius" placeholder="Your name" title="Your name" type="text" />
                    </div>
                  </div>
                </div>
                <div class="s-12">
                  <textarea name="message" class="required message border-radius" placeholder="Your message" rows="3"></textarea>
                </div>
                <div class="s-12"><button class="submit-form button background-primary border-radius text-white" type="submit">Submit Button</button></div> 
              </form>
            </div>
          </div>
        </div>
      </section>
      <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
      -->
      
      <!-- Bottom Footer -->
      <section class="padding background-dark">
        <div class="line">
          <div class="s-12 l-6">
            <p class="text-size-12">Copyright <b id="year"></b>
            	<script type="text/javascript">var d = new Date();
			  var n = d.getFullYear();
			  document.getElementById("year").innerHTML = n;</script>, Ging Wallet - Ging
			</p>
            <!--<p class="text-size-12">All images have been purchased from Bigstock. Do not use the images in your website.</p>-->
          </div>
          <div class="s-12 l-6">
            <a class="right text-size-12" href="#" title="Responsee - lightweight responsive framework">Designed and Coded by<br> <p align="center">Ging</p></a>
          </div>
        </div>
      </section>
    </footer> 
    <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>
    <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template-scripts.js' %}"></script>   
   </body>
</html>